@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/BebasNeue.otf');
}

@font-face {
    font-family: 'lato-thin';
    src: url('../fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/LatoLatin-Regular.ttf');
}

body, html {
  height: 100%;
  margin: 0;
}

.site-wrapper {
    background-image: url('../images/about-compressed.jpg');
    min-height: 100%;
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
    z-index: 100;
}

.mobile-nav-open .caption {
    z-index: 1;
}

.caption span.border {
    font-family: 'bebas-neue';
    color: #0E4C7B !important;
    padding: 18px;
    font-weight: 400;
    font-size: 72px;
    line-height: .9em;
    letter-spacing: 0.2em;
}

.content {
    color: #363636;
    background-color:white;
    text-align:center;
    text-align: justify;
    max-width: 960px;
    margin: auto;
    font-family: 'lato-regular';
    padding: 50px 8%;
}

h2 {
    font-family: 'lato-thin';
}