@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
	background-color: #f5f5f5 !important;
	font-family: 'Roboto', sans-serif;
}

.card {
	background-color: #fff !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	padding: 8px;
	width: 1150px;
	margin: auto;
	margin-top: 15px;
}

.card-div {
	width: 1166px;
	margin: auto;
}

.first.card {
	margin-top: 65px;
}

.card.half {
	width: 559px;
	float: left;
}

.card.half:first-child {
	float: left;
	margin-right: 15px;
}

.card-title {
	padding: 16px;
	font-size: 28px !important;
	font-weight: 100 !important;
}

#activity {
	padding-left: 50px;
	padding-bottom: 30px;
}

svg {
	margin-bottom: 2px;
}

.svg-text {
	font-family: sans-serif;
}

.svg-text-year {
	font-size: 56px;
	fill: #dfdfdf;
	transform:  translate(-75px, 170px) rotate(270deg);
}

.svg-text-day {
	font-size: 12px;
	fill: #888888;
}

.svg-text-month {
	font-size: 14px;
	fill: #888888;
}

#activity-date {
	padding: 8px;
    border: 1px solid #bdbdbd;
    width: 80px;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    color: #616161;
    background-color: white;
    position: absolute;
}